 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


 
 * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --azul_escuro: #010b40;
  --azul_n: rgba(2, 55, 89, 0.8);
  --azul_claro: #023759;
  --amarelo: #f5b942;
  --cinza: #2b373f;
  --branco_puro: #ffffff;
  --branco: rgba(233, 239, 242, 1);
  --azul_oc: #345f7a;
  --preto: #000;
}