@import url(../global.css);

.section {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo canto */

.logo {
  position: absolute;
  width: 15%;
  height: auto;
  right: 0;
  top: 5%;
}

.logo img {
  width: 100%;
}

/* h1 */

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin: 5%;
}

/*Container */

.container {
  position: relative;
  width: 60%;
  height: 400px;
  background-color: var(--azul_claro);
  border-radius: 20px;
  display: flex;
}

/* Links */

.links_container {
  width: 30%;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.links {
  width: 90%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links a {
  color: #fff;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.links a:hover {
  text-decoration-line: underline;
}

/* Botão */

.btn {
  width: 80%;
  height: 30px;
  border-radius: 30px;
  background-color: var(--amarelo);
  font-size: 20px;
}

.btn:hover {
  background-color: var(--branco_puro);
  cursor: pointer;
}

/* Content */

.content_container {
  width: 70%;
  height: 400px;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 350px;
  background-color: var(--branco_puro);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.content span {
  font-weight: 800;
}

.ai {
  color: var(--amarelo);
}
