@import url(../global.css);

.container_funcionario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.container_funcionario h2 {
  font-weight: bold;
  height: 100px;
  width: auto;
  font-size: 48px;
  padding-top: 15px;
}

.container_azul {
  background-color: var(--azul_claro);
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 16px;
}

.container_azul h5 {
  height: auto;
  padding: 40px;
  color: var(--branco_puro);
  font-size: 25px;
  align-self: flex-start;
}

.botoes {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 2rem;
}

.propri {
  background-color: var(--branco);
  width: 93%;
  height: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.propri p {
  font-size: 20px;
}

.propri p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  width: 265px;
  height: 66px;
  background-color: var(--amarelo);
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  
}

.btn:hover {
  background-color: var(--branco_puro);
}
