.container {
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
}

.logo {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-bottom: 16px;
}

.sistema {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.titulo {
  font-size: 108px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #000;
  margin: 0;
  text-transform: none; 
}

.ai {
  color: #f5b942;
  text-transform: none; 
}

.toque {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-top: 100px;
  animation: piscar 1.5s infinite ease-in-out;
}

@keyframes piscar {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}