@import url(../global.css);
@import url(./ajuda.module.css);

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content p {
  width: 100%;
  height: auto;
  text-align: center;
}

.btn2 {
  border-radius: 30px;
  background-color: var(--amarelo);
  height: 41px;
  font-size: 28px;
  cursor: pointer;
  width: 225px;
}

.btn2:hover {
  background-color: var(--azul_escuro);
  color: white;
  cursor: pointer;
}
